.component {
    padding: rem(72) 0;
    grid-template-rows: repeat(4, auto);

    @media(--device-sm) {
        padding: rem(48) 0;
    }
}

.header {
    grid-row: 1 / span 1;
    grid-column: 4 / 10;

    @media(--device-sm) {
        grid-column: 2 / 12;
    }
}

.title {
    color: var(--color-pale);
    margin: 0 0 rem(16);
    text-align: center;
}

.roundName {
    color: var(--color-yellow-05);
    margin-bottom: rem(16);
    font-size: rem(18);
    font-weight: bold;
    text-align: center;

    @media (--device-sm) {
        font-size: rem(16);
    }
}

.list {
    all: unset;
    grid-row: 2 / span 1;
    grid-column: 4 / 10;

    @media(--device-sm) {
        grid-column: 2 / 12;
    }
}

.listItem {
    list-style: none;
    position: relative;
    padding-left: rem(28);
    margin: rem(12) 0;
    color: var(--color-pale);

    @media(--device-sm) {
        margin: rem(16) 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.number {
    position: absolute;
    left: 0;
    top: 0;
}

.random {
    grid-row: 3 / span 1;
    grid-column: 4 / 10;
    margin: rem(16) auto rem(28);

    @media (--device-sm) {
        grid-column: 2 / 12;
    }
}

.randomButton {
    width: 100%;
}

.pagination {
    grid-row: 4 / span 1;
    grid-column: 4 / 10;

    @media (--device-sm) {
        grid-column: 2 / 12;
    }
}
