.component {
    padding: rem(64) 0;
    grid-template-rows: repeat(2, auto);

    @media (--device-sm) {
        padding: rem(48) 0;
    }
}

.header {
    grid-row: 1 / span 1;
    grid-column: 4 / 10;
    margin-bottom: rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (--device-sm) {
        grid-column: 2 / 12;
    }
}

.title {
    color: var(--color-pale);
    margin: 0 0 rem(24);
    text-align: center;
}

.scoreboard {
    padding: 0 rem(12);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: rem(120);
    height: rem(60);
    background-color: var(--color-black);
    color: var(--color-green-00);
    font-family: var(--press-start);
    font-size: rem(22);
    border-radius: rem(4);
    border: rem(8) solid var(--color-blue-07);
}

.team {
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:first-of-type {
        grid-column: 1 / 4;
    }

    &:last-of-type {
        grid-column: 10 / 13;
    }
}

.teamName {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: rem(42);
    color: var(--color-pale);
    font-size: rem(24);
    font-weight: bold;
    text-align: center;
}

.teamIsActive {
    border: 2px solid var(--color-red-02);
    padding: rem(4) rem(10);
}

.currentRound {
    width: rem(80);
    height: rem(140);
    background-color: var(--color-red-02);
    color: var(--color-yellow-01);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(90);
    margin: rem(16) 0;
}

.teamErrors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(160);
}

.teamError {
    width: rem(40);
    height: rem(40);
    border-radius: rem(4);
    position: relative;
    background-color: var(--color-yellow-00);

    &:before {
        content: '';
        width: rem(24);
        height: rem(24);
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid var(--color-red-01);
        opacity: 0.4;
    }

    &:after {
        content: '';
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-red-01);
        opacity: 0.5;
    }
}

.teamErrorActive {
    background-color: var(--color-yellow-04);
    box-shadow: 0 0 rem(20) rem(-2) var(--color-yellow-05);

    &:before,
    &:after {
        opacity: 1;
    }
}

.list {
    all: unset;
    grid-row: 2 / span 1;
    grid-column: 4 / 10;

    @media (--device-sm) {
        grid-column: 2 / 12;
    }
}

.answer {
    list-style: none;
    height: rem(48);
    position: relative;
    perspective: 800px;

    &:not(:last-of-type) {
        margin-bottom: rem(12);
    }
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.answerIsGuessed .card {
    transform: rotateX(-180deg);
}

.cardSide {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardFront {
    background-color: var(--color-yellow-03);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priority {
    width: rem(36);
    height: rem(36);
    background-color: var(--color-blue-05);
    border-radius: 50%;
    color: var(--color-yellow-02);
    font-size: rem(24);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priorityCircle {
    width: rem(20);
    height: rem(20);
    background-color: var(--color-red-00);
    border-radius: 50%;
    margin: 0 rem(12);
    position: relative;

    &:before,
    &:after {
        content: '';
        background-color: inherit;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:before {
        width: rem(14);
        height: rem(14);
    }

    &:after {
        width: rem(10);
        height: rem(10);
    }

    &:first-child:before {
        left: rem(-20);
    }

    &:first-child:after {
        left: rem(-36);
    }

    &:last-child:before {
        right: rem(-20);
    }

    &:last-child:after {
        right: rem(-36);
    }
}

.answerIsGuessed .cardFront {
    z-index: 0;
}

.cardBack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotateX(180deg);
    background-color: var(--color-black);
    padding: rem(6) rem(14);
    color: var(--color-pale);
    font-size: rem(20);
}
