@keyframes pushTheButton {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(0.89) translateY(rem(4));
    }

    100% {
        transform: scale(0.9);
    }
}

.component {
    padding: rem(64) 0;
    grid-template-rows: repeat(2, auto);

    @media (--device-sm) {
        padding: rem(48) 0;
    }
}

.header {
    grid-row: 1 / span 1;
    grid-column: 4 / 10;
    margin-bottom: rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (--device-sm) {
        grid-column: 2 / 12;
    }
}

.title {
    color: var(--color-pale);
    margin: 0 0 rem(24);
    text-align: center;
}

.choice {
    grid-row: 2 / span 1;
    grid-column: 4 / 10;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (--device-sm) {
        grid-column: 2 / 12;
    }
}

.choiceTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceSubtitle {
    color: var(--color-pale);
    font-size: rem(18);
    margin-bottom: rem(16);
    text-align: center;
}

.choiceIcon {
    animation-name: pushTheButton;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform: scale(0.9);
}

.choiceTeam:last-child .choiceIcon {
    animation-delay: 0.25s;
}
