.component {
    padding: rem(64) 0;
    grid-template-rows: repeat(1, auto);

    @media (--device-sm) {
        padding: rem(48) 0;
    }
}

.text {
    grid-row: 1 / span 1;
    grid-column: 4 / 10;
    color: var(--color-pale);
    font-size: rem(18);
    margin: 0 auto;
    text-align: center;

    @media(--device-sm) {
        grid-column: 1 / 13;
    }
}
