.component {
    padding: rem(64) 0;
    grid-template-rows: repeat(1, auto);

    @media (--device-sm) {
        padding: rem(48) 0;
    }
}

.form {
    grid-row: 1 / span 1;
    grid-column: 5 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (--device-sm) {
        grid-column: 2 / 12;
    }

    & > * {
        width: 100%;
    }
}

.textField {
    margin-bottom: rem(12);
}
