.component {
    padding: rem(72) 0;
    grid-template-rows: repeat(3, auto);
    height: 100vh;
    align-content: space-between;

    @media (--device-sm) {
        padding: rem(24) 0;
    }
}

.header {
    grid-row: 1 / span 1;
    grid-column: 4 / 10;

    @media (--device-sm) {
        grid-column: 1 / 13;
    }
}

.roundName {
    color: var(--color-yellow-05);
    margin-bottom: rem(16);
    font-size: rem(18);
    font-weight: bold;
    text-align: center;

    @media (--device-sm) {
        font-size: rem(16);
    }
}

.title {
    color: var(--color-pale);
    margin: 0 0 rem(32);
    text-align: center;
    line-height: rem(32);
    font-size: rem(24);

    @media (--device-sm) {
        font-size: rem(16);
        line-height: rem(20);
        margin-bottom: rem(24);
    }
}

.bank {
    text-align: center;
    color: var(--color-pale);
    font-weight: bold;
    font-size: rem(14);
    margin: 0 auto rem(16);

    span {
        color: var(--color-green-00);
    }
}

.teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: rem(8);
}

.team {
    color: var(--color-pale);
    display: grid;
    grid-template-areas: 'name name' 'points errors';
    border: 2px solid var(--color-blue-07);
    padding: rem(8);
    border-radius: rem(4);

    &.isActive {
        border-color: var(--color-red-00);
    }

    & > * {
        text-align: center;
    }
}

.teamName {
    grid-area: name;
    margin-bottom: rem(12);
}

.teamPoints {
    grid-area: points;

    span {
        color: var(--color-green-00);
    }
}

.teamErrors {
    grid-area: errors;

    span {
        color: var(--color-red-01);
    }
}

.answers {
    grid-row: 2 / span 1;
    grid-column: 4 / 10;

    @media (--device-sm) {
        grid-column: 1 / 13;
    }
}

.answersTitle {
    color: var(--color-pale);
    margin-bottom: rem(16);
    font-size: rem(16);
    text-align: center;
}

.answersList {
    all: unset;
}

.answer {
    list-style: none;
    height: rem(40);
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--color-black);
    padding: rem(6) rem(32) rem(6) rem(14);
    color: var(--color-pale);
    font-size: rem(16);
    border-radius: rem(4);

    &:not(:last-of-type) {
        margin-bottom: rem(8);
    }

    &.isGuessed:after {
        content: '';
        display: block;
        position: absolute;
        width: rem(8);
        height: rem(4);
        border-left: 2px solid;
        border-bottom: 2px solid;
        right: rem(14);
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
}

.buttonsWrapper {
    grid-row: 3 / span 1;
    grid-column: 2 / 12;

    @media (--device-sm) {
        grid-column: 1 / 13;
    }
}
