.button {
    --mdc-theme-primary: var(--color-blue-05);
    --mdc-theme-on-primary: var(--color-pale);

    &[class~='mdc-button'] {
        height: rem(48);
    }
}

.buttonSuccess {
    --mdc-theme-primary: var(--color-green-00);
}

.buttonError {
    --mdc-theme-primary: var(--color-red-01);
}
