.main {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        120deg,
        var(--color-blue-00),
        var(--color-blue-01) 10%,
        var(--color-blue-02) 60%,
        var(--color-blue-03) 100%
    );
}

.soundSwitcher {
    position: fixed;
    right: rem(32);
    bottom: rem(32);
    z-index: 1;

    @media (--device-sm) {
        right: rem(16);
        bottom: rem(16);
    }
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
