.component {
    width: 100%;
    padding: rem(16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue-04);
    border-radius: rem(40);
}

.info {
    color: var(--color-pale);
    font-size: rem(16);
    line-height: rem(16);
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    --mdc-theme-on-primary: var(--color-blue-01);

    &[class~='mdc-button'] {
        height: rem(36);
        min-width: rem(36);
        border-radius: 50%;
        padding: 0;
    }

    &:first-child {
        margin-right: rem(8);

        .arrow {
            border-right-color: currentColor;
            right: rem(4);
        }
    }

    &:last-child {
        .arrow {
            border-left-color: currentColor;
            left: rem(4);
        }
    }
}

.arrow {
    display: block;
    position: relative;
    width: rem(16);
    height: rem(12);
    border: solid transparent;
    border-width: rem(6) rem(8);
}
