.component {
    cursor: pointer;
    width: rem(36);
    height: rem(36);
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-pale);
    box-shadow: 0 0 rem(10) rem(4) var(--color-blue-06);

    @media (--device-sm) {
        width: rem(32);
        height: rem(32);
    }

    svg {
        fill: var(--color-blue-03);
        width: rem(28);
        height: rem(28);
        transition: inherit;

        @media (--device-sm) {
            width: rem(24);
            height: rem(24);
        }
    }

    &:hover {
        background-color: transparent;
        box-shadow: none;

        svg {
            fill: var(--color-pale);
        }
    }
}
