.textField {
    --mdc-theme-primary: var(--color-pale);

    * {
        border-color: var(--color-pale) !important
    }
}

.floatingLabel {
    color: var(--color-pale) !important;

    &[class*='--float-above'] {
        font-size: rem(15) !important;
    }
}

.input {
    color: var(--color-pale) !important;
}
