<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link
            href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Press+Start+2P&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
