:root {
    /*
    ** colors
    */
    --color-white: #ffffff;
    --color-pale: #e1dad4;

    --color-black: #000000;

    --color-red-00: #b10a04;
    --color-red-01: #c31112;
    --color-red-02: #c6314b;

    --color-yellow-00: #bc8200;
    --color-yellow-01: #efc33e;
    --color-yellow-02: #ffc317;
    --color-yellow-03: #f2be3b;
    --color-yellow-04: #f2c60d;
    --color-yellow-05: #fffa02;

    --color-green-00: #88be1b;

    --color-blue-00: #03126d;
    --color-blue-01: #0b1a77;
    --color-blue-02: #0025d5;
    --color-blue-03: #0a51ff;
    --color-blue-04: #5c89de;
    --color-blue-05: #338fff;
    --color-blue-06: #009fff;
    --color-blue-07: #84bcf1;

    /*
    ** font-family
    */
    --press-start: 'Press Start 2P', cursive;

    /*
    ** container width
    */
    --cw-sm: calc(100% - rem(48));
    --cw-md: rem(704);
    --cw-lg: rem(928);
    --cw-xl: rem(1120);

    /*
    ** gaps
    */
    --gap-sm: rem(16);
    --gap-md: rem(24);
}

/*
** media queries
*/
@custom-media --device-sm (max-width: 767px);
@custom-media --device-md (max-width: 1023px);
@custom-media --device-lg (max-width: 1279px);
@custom-media --device-xl (max-width: 1439px);

:global svg {
    display: block;
}

:global #app {
    display: contents;
}

:global body {
    all: unset;
}

* {
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}

:global .container {
    position: relative;

    margin: 0 auto;

    width: 100%;
    max-width: var(--cw-xl);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gap-md);

    @media (--device-xl) {
        max-width: var(--cw-xl);
    }

    @media (--device-lg) {
        max-width: var(--cw-lg);
    }

    @media (--device-md) {
        max-width: var(--cw-md);
    }

    @media (--device-sm) {
        max-width: var(--cw-sm);
        grid-column-gap: var(--gap-sm);
    }
}
