.text {
    color: var(--color-pale);
    font-size: rem(18);
    margin: 0 auto;
    text-align: center;
}

.listItem {
    color: var(--color-pale);
    margin: rem(16) 0;
    font-size: rem(24);
}
